@charset "UTF-8";

#sidemenu {
  display:grid;
  grid-template-columns:  1fr 1fr;
  color:var(--secondary-color);
  
}

.info {
  color:var(--secondary-color);
  background: var(--border1-color);
  padding:5%;
  margin:1%;
  border-radius:10px;
  background: rgba(255,255,255,0.1);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border-radius: 10px;


}
#menu1 { 
  display:block;
  width: 100%;  
  border-right: 1px solid var(--border0-color);
  overflow-y: auto;
  
}

#menu2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 2fr;
  width:100%;
}



.filterselect{
  padding:none;
}

.filterselect input, .filterselect select {
    display: inline-block;
    width: 100%;
    scrollbar-width: none;
    border: none;
    margin: none;
    padding:2px;
    padding-left:5px;
    cursor:pointer;
    color:var(--secondary-color);    
    background: rgba(255,255,255,0.1);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    border-radius: 10px;

}

.filterselect input:hover, .filterselect select:hover {
  background: rgba(255,255,255,0.3);
  scrollbar-width: thin;
  scrollbar-color:rgba(255,255,255,1);
  scroll-padding: 2rem;
 

}


.filterselect p{ 
  font: 12px ;
  margin : 0px;
  padding:0px;
}


.filterlabel {
  font-size: 0.8rem;
  margin: 0px;
  padding: 10px;
  padding-left: 10px;
  padding-right:10px;
  display: inline-block;
  text-transform: capitalize;
  color:var(--secondary-color); 
}


.filterlabel + .filterlabel {
    clear: none;
    text-align: right;
    margin-top: 1px;
    color:var(--secondary-color);
    cursor: pointer;
    background: rgba(255,255,255,0.05);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    border-radius: 10px;

    border-radius: 10px;
}


.filterlabel + .filterlabel:hover {
  color:var(--hover0-color);
  background: rgba(255,255,255,0.1);
}

.slider {
  font-size: 10px; 
}

